<!-- <div class="layout-container box-size-full-viewport" >
    <div class="header-section">
        <app-header></app-header>
    </div>
    <div class="main-section">
        <app-main></app-main>
    </div>
    <div class="sidebar">
        <app-sidebar></app-sidebar>
    </div>
</div> -->


<div class="layout-container box-size-full-viewport">
  <div class="header-section">
    <app-header></app-header>
  </div>
  <!-- <div class="content-area">
    <div class="sidebar">
      <app-sidebar></app-sidebar>
    </div>
    <div class="main-section">
      <app-main></app-main>
    </div>
  </div> -->
   
  
    <div class="main-section">
      <app-main></app-main>
    </div>
  
</div>
  <div class="sidebar">
      <app-sidebar></app-sidebar>
    </div>