
.collections-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
   background-color: #ffffff;
  
}



.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0rem;
  justify-content: center;
 
 background-color: #ffffff;

margin-left: 1rem;
margin-right: 1rem;
}



$color-primary-white: rgb(240, 240, 240);

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
   padding: 0.15rem;
  font-family: 'Roboto', sans-serif;
}

.card {
  
   width: 15rem;
   height: 18rem;
  
  
  
  background-color: #1b1a1a;
  cursor: pointer;
  position: relative;
  color: $color-primary-white;

  transition: transform .3s ease-in-out;
overflow: hidden;
  img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    
    top: 0;
    left: 0;
   ;
    transition: opacity .3s ease-in-out, transform .4s ease-in-out;
  transform: scale(1); /* default state */
  }

  h3 {
     position: absolute;
    
   
    inset: auto auto 0.225rem 0.225rem;
    margin-bottom: 0.55rem;
     transition:  .3s .1s ease-in-out;
    font-family: poppins;
    font-size: 1.5rem;
     font-weight: 400;
    text-transform: uppercase;
       text-shadow: 0 0 10px rgba(42, 42, 42, 0.388), 0 0 20px rgba(42, 42, 42, 0.356), 0 0 30px rgba(42, 42, 42, 0.324);
         color:rgb(221, 221, 221);
        // color: rgb(251, 157, 157);
      // color: #e7d091;
     //color: #1b1a1a;
  }
  
  p, a {
    position: absolute;
    opacity: 0;
    max-width: 80%;
    transition: opacity .2s ease-out;
    font-family: poppins;
    font-size: 0.85rem;
    margin-top: 1rem;
           text-shadow: 0 0 10px rgba(42, 42, 42, 0.388), 0 0 20px rgba(42, 42, 42, 0.356), 0 0 30px rgba(42, 42, 42, 0.324);

  }
  
  p {
    inset: auto auto 10px 3.25px;
  }
  
  a {
    inset: auto auto 5px 3.25px;
    color: inherit;
    text-decoration: none;
  }
  
  &:hover h3 {
    inset: auto auto 27.5px 3.25px;
    transition: inset .3s ease-out;
  }
  
  &:hover p, &:hover a {
    opacity: 1;
    transition: opacity .5s .1s ease-in;
  }
  
  &:hover img {
    
transition: opacity .3s ease-in-out, transform .4s ease-in-out;
    opacity: 0.9;
  transform: scale(1.1); /* zoom in */

  
  
  }

}

.material-symbols-outlined {
  vertical-align: middle;
}


.card:hover{
//  transform: scale(1.05); 
 transition: transform .3s ease-in-out; 
   box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
opacity: 95%;
 }

.title-p{
  color: white;
  font-family: poppins;
   margin-right: 0.5rem;
   margin-left: 0.3rem;
  font-size: 1.75rem;
  font-weight: 700;
  
}

.title-container {
  display: flex;
  flex-direction: column;
  
align-items: center;
  margin-left: 2rem;
 padding: 2rem;

margin-top: 2rem;
h1{
  font-size: 3.5rem;
font-weight: 900;

color: #e7d091;
margin-left: 11rem;

}
.title-main-p{
  font-size: 1rem;
  font-weight: 100;
  margin-right: 0.5rem;
  
   
}
  .title-main-p,
  h1 {
    margin: 0;   // remove default top/bottom spacing
    line-height: 1.1; // keep them tight
       color: rgb(251, 157, 157);
    font-family: poppins;
     color: #1b1a1a;
        

  }
}
.title-container-main{
  display: flex;
  align-items: center;
  margin: 0;

}
.the{
  margin-left: 0.5rem;

font-size: 1rem;
}

.title-container-main{
align-self: flex-start;
}



.heading-container {
  display: flex;
  background-color: #1b1a1a;

 align-items:flex-end;
  
flex-direction: column;
h2{
  font-size: 6.5rem;
font-weight: 900;
font-family: poppins;
color: #e7d091;
 color:  #1b1a1a;
text-align: center;
}

.explore{
  margin-left:auto;
  
}
p{
  margin-right: 0.5rem;
  font-family: poppins;
  
}
}

.bottom{
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  background-color: #1b1a1a;
justify-content: center;
align-items: center;
  h3{
    font-family: poppins;
    font-weight: 600;
    font-size: 7rem;
    color: #ffffff;
    line-height: 8rem;
  }
  p{
    color:white;
    font-size: 1rem;
    font-weight: 300;
    font-family: poppins;
  }
  button{
    background-color: transparent;
    border: 2px solid white;
    padding: 1rem;
    color: #ffffff;
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-size: 0.8rem;
      font-family: poppins;
  }
}


/* Slide left */
@keyframes slideInLeft {
  from { opacity: 0; transform: translateX(-5px); }
  to { opacity: 1; transform: translateX(0); }
}

.animate-on-scroll {
  opacity: 0;
  transition: all 0.4s ease-out;
}
.animate-on-scroll.left.is-visible {
  animation: slideInLeft 0.4s ease forwards;
}


.top{
  padding-top: 0.5rem;
  margin-top: 3rem;
  // padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  // background-color: #1b1a1a;
justify-content: center;
text-align: center;
align-items: center;
  h3{
    font-family: poppins;
    font-weight: 900;
    font-size: 3.5rem;
    color: #1b1a1a;
    line-height: 3.3rem;
  }
  p{
     color: #1b1a1a;
    font-size: 1rem;
    font-weight: 200;
      font-family: poppins;
       margin-bottom: 1rem;
       margin-top: 1rem;
  }

}


.btn-row{
  display: flex;
  flex-direction: column;
  align-content: center;
 button{
  display: flex;
  flex-direction: column;
  align-items: center;
    background-color: #1b1a1a;
    font-family: POPPINS;
   padding-top: 0.5rem;
   padding-bottom: 0.5rem;
  color: #ffffff;
  
    
    //  margin-bottom: 1rem;
    font-size: 0.8rem;
    font-weight: 300;
    width: 7rem;
    align-self: center;
     border-radius: 2rem;
  }
}
 .middle{
   display: flex;
  flex-direction: column;
  
  align-items: center;
  p{
    font-family: poppins;
    font-weight: 400;
    font-size: 2rem;
    margin-top: 4rem;
    
  }
 }