

<div class="collections-page">

 <div class="top">
  <div><p> SHOP THE NEW STORY</p></div>
  <div><h3>EXPLORE WHATS TRENDING <br>THIS SEASON.</h3></div>
  
 <div class="btn-row"><button  [routerLink]="['/products']">GO TO STORE</button></div>

</div>
<!-- <div class="middle"><div><p>FEATURED COLLECTIONS</p></div></div> -->
 <div class="middle"><div><p>Featured Collections</p></div></div>

<div class="cards-container">
  <main>
    <div
      class="card"
      [routerLink]="['/products']"
      [queryParams]="{ collection: 'core' }"
    >
      <img
        src="assets/CoreBasicsCover.png"
        alt=""
      />
      <div class="card-content">
        <h3 class="animate-on-scroll left">Core</h3>
        <p>Basics</p>
      </div>
    </div>
  </main>
  <main>
    <div
      class="card"
      [routerLink]="['/products']"
      [queryParams]="{ collection: 'dreamy' }"
    >
     
        <img
        src="assets/DreamyLinensCover.png"
        alt=""
      />
      <div class="card-content">
        <h3 class="animate-on-scroll left">DREAMY</h3>
        <p>Linens</p>
      </div>
    </div>
  </main>
  <main>
    <div
      class="card"
      [routerLink]="['/products']"
      [queryParams]="{ collection: 'vandal' }"
    >
      <img
        src="assets/VandalCover.png"
        alt=""
      />
      <div class="card-content">
        <h3 class="animate-on-scroll left">Vandal</h3>
        <p>Streetsyle Designs</p>
      </div>
    </div>
  </main>
  <main>
    <div
      class="card"
      [routerLink]="['/products']"
      [queryParams]="{ collection: 'edge' }"
    >
      <img
        src="assets/EdgeCover (2).png"
        alt=""
      />
      <div class="card-content">
        <h3 class="animate-on-scroll left">Edge</h3>
        <p>Classic FormalWear</p>
      </div>
    </div>
  </main>

  



  <main>
    <div
      class="card"
      [routerLink]="['/products']"
      [queryParams]="{ collection: 'hologram' }"
    >
      <img
        src="assets/HologramCover.png"
        alt=""
      />
      <div class="card-content">
        <h3 class="animate-on-scroll left">Hologram</h3>
        <p>Party Edit</p>
      </div>
    </div>
  </main>
</div>





<div class="bottom">
  <div><h3>DISCOVER</h3></div>
  <div><p>OUR CURATED EDITS</p></div>
 <div><button  [routerLink]="['/products']">SHOP NOW</button></div>

</div>


</div>