

.cart-container {
  display: flex;
  overflow: auto;
  // background: #f1f5f9;

  .cart-page {
    width: 55%;
    padding: 2rem;
    .cart-card {
      padding: 1rem;

      
      background: #f8f6f6;
      border-radius: 8px;
      box-shadow: 0 0 12px 1px #ccc;
      margin-bottom: 2rem;
    }
  }
  .summary-section {
    min-width: 45%;
    .summary-card {
      background-color: #f7f4f4;
      margin: 2rem;
      padding: 1rem;
      border-radius: 8px;
      
      .header {
        font-family: poppins;
        font-size: 1.5rem;
        font-weight: 600;
        margin: 1rem 0.5rem ;
        
        padding-bottom: 0.5rem;
      }
      .subtotal-block,
      .tax-block,
      .total-block {
        display: flex;
        justify-content: space-between;
        font-family: poppins;
      }
      .subtotal-block,
      .tax-block {
        font-size: 1rem;
        margin: 1rem 0.5rem ;
        .value {
          color: #666;
        }
      }
      .total-block {
        margin: 2rem 0.5rem ;
        padding-top: 1rem;
        border-top: 1px solid #bbb;
        font-weight: 600;
        font-size: 1.2rem;
      }
    }
    button {
      align-self: center;
      padding: 0.75rem 1.75rem;
     box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
      color: #ffffff;
      background-color: #333;
      border-radius: 1.5rem;
      border: none;
      margin-top: 0.75rem;
      margin-bottom: 0.75rem;
      font-size: 0.9rem;
    }
    button:hover {
      background-color: #3f3f3f;
    }
  }
}
