

<ng-container *ngIf="productDetails">
 
<button class="back-btn" (click)="backToProductsList()"><mat-icon>cancel</mat-icon></button>

  <div class="product-card" *ngIf="productDetails">
  
  <div class="product-image">
    <img [src]="productDetails.image" alt="{{ productDetails.title }}">
  </div>

  <div class="product-info">
    <h1>{{ productDetails.title }}</h1>
    <p>{{ productDetails.description }}</p>
    <div class="price">{{ productDetails.price | currency: 'INR' }}</div>
    
    <button>Add to Cart</button>
         
          

  </div>
</div>

</ng-container>



<!-- <ng-container *ngIf="productDetails">
 
<button class="back-btn" (click)="backToProductsList()"><mat-icon>cancel</mat-icon></button>

  <div class="product-card" *ngIf="productDetails">
  
  <div class="product-image">
    <img [src]="productDetails.image" alt="{{ productDetails.title }}">
  </div>

  <div class="product-info">
    <h1>{{ productDetails.title }}</h1>
    <p>{{ productDetails.description }}</p>
    <div class="price">{{ productDetails.price | currency: 'INR' }}</div>
    <div class="actions-row">
      
        <button
          *ngIf="cartCount === 0"
          class="cart-action-btn"
          (click)="addToCart()"
        >
          Add to Cart
        </button>

       
        <div *ngIf="cartCount > 0" class="cart-actions">
          <button class="cart-action-btn left" (click)="removeFromCart()">
            −
          </button>
          <input type="text" [(ngModel)]="cartCount" readonly />
          <button class="cart-action-btn right" (click)="addToCart()">+</button>
        </div>
      

    </div>
  </div>
</div>

</ng-container>








 -->
