<!-- <ng-container *ngIf = "productDetails">
    <button (click)="backToProductsList()"> back </button>

    <div class="product-details">
        
        <span>{{productDetails.title}}</span>
        <span>{{productDetails.description}}</span>
        <span>{{productDetails.price|currency : "INR"}}</span>
        <span><img [src]="productDetails.image"></span>
       
    </div>
</ng-container> -->





<!-- <ng-container *ngIf="productDetails">
  <button class="back-btn" (click)="backToProductsList()">← Back</button>

  <div class="product-details">
   
    <div class="product-info">
      <h1 class="product-title">{{ productDetails.title }}</h1>
      <p class="product-description">{{ productDetails.description }}</p>
      <p class="product-price">{{ productDetails.price | currency : "INR" }}</p>
      <button class="add-to-cart-btn">Add to Cart</button>
    </div>

   
    <div class="product-image">
      <img [src]="productDetails.image" alt="{{ productDetails.title }}">
    </div>
  </div>
</ng-container> -->




<!-- <div class="product-card" *ngIf="productDetails">
  <div class="product-info">
    <h1>{{ productDetails.title }}</h1>
    <p>{{ productDetails.description }}</p>
    <div class="price">{{ productDetails.price | currency: 'INR' }}</div>
    <button>Add to Cart</button>
  </div>
  <div class="product-image">
    <img [src]="productDetails.image" alt="{{ productDetails.title }}">
  </div>
</div> -->


<ng-container *ngIf="productDetails">
  <!-- <button class="back-btn" (click)="backToProductsList()"></button> -->
<button class="back-btn" (click)="backToProductsList()"><mat-icon>cancel</mat-icon></button>

  <div class="product-card" *ngIf="productDetails">
  
  <div class="product-image">
    <img [src]="productDetails.image" alt="{{ productDetails.title }}">
  </div>

  <div class="product-info">
    <h1>{{ productDetails.title }}</h1>
    <p>{{ productDetails.description }}</p>
    <div class="price">{{ productDetails.price | currency: 'INR' }}</div>
    <button>Add to Cart</button>
  </div>
</div>

</ng-container>













