// Parent container must be relative or static (default)
.layout-container {
  position: relative;
}

.sidebar {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 2.15rem;
  padding: 1rem 0;
  padding-top: 1.25rem;
  padding-bottom: 0.75rem;
  border-radius: 0 0.75rem 0.75rem 0;
  background-color: #000000e3;
  z-index: 10;

  box-shadow: 6px 0px 32px 8px rgba(0, 0, 0, 0.142),
    12px 0px 48px 12px rgba(0, 0, 0, 0.114);

  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

::ng-deep .magenta-badge .mat-badge-content {
  background-color: rgb(240, 95, 112) !important;
  color: white !important;

  box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
}

// mat-icon {
//   font-size: 1.2rem;
//   position: relative;
//   padding-right: 0.3rem;
//   margin: 0;

//   color: #ffffff;
//   cursor: pointer;
//   transition: background-color 0.2s ease-in-out;

//  &:hover {

// color: rgb(251, 157, 157);      }

// }

// .sidebar .thin-icon {
//   font-size: 1.2rem;
//   transform: scale(0.8);
//   display: inline-flex;
//   align-items: center;
//   justify-content: center;
// }

.feather {
  //  color: rgb(251, 157, 157);

  color: white;

  padding-right: 0.3rem;
  margin: 0;

  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
}

.feather {
  width: 1.15rem;
  height: 1.15rem;
  display: block;
}

.profile {
  //  padding-left: 0.05rem;
  margin-bottom: 0.45rem;
  margin-left: 0.07rem;
}

.heart {
  padding-left: 0.05rem;
}

.bag {
  padding-left: 0.1rem;
  margin-bottom: 0.05rem;
}
