

<div class="searchbar-container-bg">
  <div class="searchbar-container" role="search" aria-label="Product search">
    
    <div>
    <button
      class="primary search-btn"
      type="button"
      (click)="onSearch(filter.value)"
      aria-label="Search"
    >
      <i class="material-icons" aria-hidden="true">search</i>
    </button>
    </div>
    <div><input
      type="text"
      #filter
      placeholder="Search" 
      class="search-input"
      (keydown.enter)="onSearch(filter.value)"
      aria-label="Search input"
    /></div>
  </div>
</div>



<section class="header" *ngIf="activeCollection">
  <h2 class="title">
  
    <!-- <a [routerLink]="['/products']" class="clear-link">See All</a> -->
  </h2>
</section>

<div *ngIf="filteredProductArray.length > 0; else empty" class="product-list">
  <app-product-card
    *ngFor="let product of filteredProductArray; let i = index"
    [product]="product">
  </app-product-card>
</div>

<ng-template #empty>
 
 
</ng-template>


