.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 24px;
  justify-content: center;
}




.searchbar-container-bg {
  padding: 1.5rem 0;
  display: flex;
  justify-content: center;
  //  background-color: #eeeeee;
  width: 100%;
}

.searchbar-container {
  display: flex;
  align-items: center;
  // border: 3px solid #1b1a1a;
  border-radius: 2rem;
  overflow: hidden;
  background: #1b1a1a;
  // margin: 0 auto;
  max-width: 200px;
  width: 100%;
   padding: 0.5rem 0.5rem;
}

/* Input */
.search-input {
  flex: 1;
  border: none;
  outline: none;
  // padding: 0.5rem 1rem;
  background: #1b1a1a;
  color: #ffffff;
  font-family: Poppins, sans-serif;
  font-size: 0.75rem;

  /* ✅ black placeholder */
  &::placeholder {
    color: #ffffff;
    opacity: 1;
  }
}

/* Search Button (circle) */
.search-btn {
   background: #ffffff;        /* black background */
  border: none;
  border-radius: 50%;      /* circle */
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-right: 0.5rem;    /* small gap to input */
}

.search-btn i {
  color: #000000;            /* white icon */
  font-size: 1rem;
  line-height: 1;
}

/* Hover → pink background */
.search-btn:hover {
  background: #fb9d9d;    /* pink */
}


.clear-link{
  margin-left: 3rem;
  font-family: poppins;
  font-size: 1rem;
  
}


