.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 24px;
  justify-content: center;
}

.searchbar-container-bg {
  padding-bottom: 1.5rem;
  display: flex;
  justify-content: center;
  // margin-top: 1rem;
  background-color: #f1f0f0;
}

.searchbar-container {
  display: flex;
  align-items: center;
  border: 1px solid #2e2e2e;
  //  border: 1px solid rgb(251, 157, 157);
  border-radius: 20px;
  overflow: hidden;
  max-width: 50%;
  // width: 100%;
  margin-left: 14rem;
  margin-right: 9rem;
  margin-top: 1.5rem;
}

.searchbar-container input {
  flex: 1;
  border: none;
  outline: none;
  padding: 0.35rem 1rem;
  background: transparent;

  font-family: poppins;
  font-size: 0.7rem;
}

.searchbar-container button {
  background: none;
  border: none;
  padding: 0.45rem 0.75rem;
  cursor: pointer;
  // color: #555;
  display: flex;
  align-items: center;
}

.searchbar-container button:hover {
  color: rgb(63, 63, 63);
}

.searchbar-container i {
  font-size: 15px; /* smaller than default 24px */
  font-weight: 300; /* lighter appearance */
}



input{
color: #000000;


}

