<!-- <div class="product-card">
    <span> {{product.title}}
    </span>
   <span>Rs{{product.price|currency:'INR'}}</span>
   <span><img [src]="product.image" alt ="{{product.title}}" width = "50px" height = "50px"></span>
   
    <div class="cart-actions">
        <button class = "remove-cart-btn" (click)="addRemoveCartEvent(cartEventState.Remove)">-</button>
        <span>{{quantity}}</span>
        <button class = "add-cart-btn" (click)="addRemoveCartEvent(cartEventState.Add)">+</button>

    </div>


</div> -->

<div class="card">
  <div class="cart-img-container">
    <div class="cart-img">
      <img [src]="product.image" />
    </div>
  </div>
  <div class="card-info">
    <div class="card-header">
      {{ product.title }}
    </div>
    <div class="price-section">Rs.{{ product.price | currency : "INR" }}</div>
    <div class="cart-info">
      <div class="info">



        <div class="actions-row">
         
<span class="btn-bg">
            <div class="cart-actions">
              <button
                class="cart-action-btn-left"
                (click)="addRemoveCartEvent(cartEventState.Remove)"
              >
                −
              </button>
              <span class="cart-input">{{ quantity }}</span>
              <!-- <input type="text" [(ngModel)]="cartCount" readonly /> -->
              <button
                class="cart-action-btn-right"
                (click)="addRemoveCartEvent(cartEventState.Add)"
              >
                +
              </button>
            </div>
        </span>
        </div>

        <!-- <div class="cart-actions">
                    <div class="add-remove-cart">
                        <button class="remove-cart-btn" (click)="addRemoveCartEvent(cartEventState.Remove)">-</button>
                        
                        <span class="cart-input">{{quantity}}</span>
                        <button class="add-cart-btn" (click)="addRemoveCartEvent(cartEventState.Add)">+</button>
                    </div>
                </div> -->
      </div>
    </div>
  </div>
</div>
