<div class="sticky top-0 h-screen">
  <div class="slide">
    <!-- Top pink row -->
    <div class="art-row">
      <div class="eco-text">
        <h2 class="eco">ECO-</h2>
        <h2 class="friendly">FRIENDLY</h2>
        <span class="subtext">Fashion crafted to<br>last</span>
      </div>

      <h1 class="art-text animate-on-scroll top">ART</h1>

      <div class="in-look">IN EVERY LOOK</div>
    </div>

    <!-- Bottom grey row -->
    <div class="bottom-bar">
      <!-- <p class="crafted">Made with care for the planet</p> -->
      <p class="artistry">&nbsp;a story<br>of<br>artistry<br>&nbsp;in&nbsp;&nbsp;&nbsp;every&nbsp;<br>&nbsp;fabric</p>
    </div>

    <!-- Model image on top -->
    <img src="assets/1STSLIDEIMG.png" alt="Model" class="slide-image" />
  </div>
</div>

<!-- SLIDE 2 -->
 <div
  class="sticky top-0 h-screen flex flex-col items-center justify-center bg-gradient-to-b from-purple-800 to-pink-800 text-white"
>
  <h2 class="text-4xl font-bold">The Third slide</h2>
  <p class="mt-2">Scroll Down</p>
</div>


<!-- SLIDE 3 -->

<div
  class="sticky top-0 h-screen flex flex-col items-center bg-white justify-center text-black"
>
  <h2 class="text-4xl font-bold">The Second slide</h2>
  <p class="mt-2">Scroll Down for next slide</p>
</div>