<div class="sticky top-0 h-screen">
  <div class="slide">
    
    <div class="art-row">
      <div class="eco-text">
        <h2 class="eco">ECO-</h2>
        <h2 class="friendly">FRIENDLY</h2>
        <span class="subtext">Fashion crafted to<br>last</span>
      </div>

      <h1 class="art-text animate-on-scroll top">ART</h1>

      <div class="in-look">IN EVERY LOOK</div>
    </div>

  
    <div class="bottom-bar">
      
      <p class="artistry">&nbsp;a story<br>of<br>artistry<br>&nbsp;in&nbsp;&nbsp;&nbsp;every&nbsp;<br>&nbsp;fabric</p>
    </div>

    
    <img src="assets/1STSLIDEIMG.png" alt="Model" class="slide-image" />
  </div>
</div>






<!-- SLIDE 2 -->
 <!-- <div
  class="sticky top-0 h-screen flex flex-col items-center justify-center bg-gradient-to-b from-purple-800 to-pink-800 text-white"
> -->
 <div
  class="sticky top-0 h-screen"
>
<div class="slide2">
  <div class="column1">
    <div class="point one">
<p>Human Responsibility:<br> Paying fair wages ensures <br>artisans and workers are respected <br>for their skill and time.</p>    </div>
    <div class="point two">
<p>


Eco-Friendly Fabrics:<br> From organic cotton to recycled fibers,<br> every material is chosen carefully <br>to reduce environmental impact.

</p>
    </div>
  </div>


  <div class="column2">
 <div class="switch">
SWITCH TO A
    </div>

     <div class="sustainable">
SUSTAINABLE
    </div> 
    <div class="wardrobe">
WARDROBE
    </div> 
    <div class="with">
with
    </div> 
    <div class="SRESE">
<div class="srese">SRESE</div>
<div class="logo"><img src="assets/SRESELOGOwhite.png"></div>
    </div>

     <div class="mainimg">
<img src="assets/slide2imgcream.png">
    </div>
  </div>


  <div class="column3">
     <div class="point three">
<p>Less Waste:<br> We prioritize quality over quantity,<br> creating timeless pieces <br>that last longer.
</p>
    </div>
     <div class="point four">
<p>Lower Carbon Footprint:<br> Minimal water use and energy-efficient<br> production are at the heart <br>of what we do.</p>
    </div>

  </div>
</div>
  
</div>


<!-- SLIDE 3 -->

<div
  class="sticky top-0 h-screen flex flex-col items-center bg-white justify-center text-black"
>
<div class="slide3">
<div class="img-container">
<div class="img1"><img src="assets/slide3.1.png"><span class="img-title">shop the look</span></div>
<div class="img2"><img src="assets/slide3.2.png"><span  class="img-title">shop the look</span></div>
</div>
<div class="caption">
 
  <div class="heading"><h2>OUR CATALOG IS JUST<br>GETTING STARTED</h2></div>

 <div><p>DISCOVER CAREFULLY CHOSEN PIECES THAT FIT EVERY MOOD AND MOMENT.</p></div>
 
  <div><button>EXPLORE THE CATALOG</button></div>
</div>

</div>
  
</div>